In [2]:
import pandas as pd

In [9]:
my_dataset = {
    'cars': ['Tesla', 'Toyota', 'Jeep', 'Corolla'],
    'country': ['Uganda', 'Kenya', 'Japan', 'Africa'],
    'year of make': [2021, 2022, 2023, 1999]
}

In [10]:
my_var = pd.DataFrame(my_dataset)
print(my_var)

      cars country  year of make
0    Tesla  Uganda          2021
1   Toyota   Kenya          2022
2     Jeep   Japan          2023
3  Corolla  Africa          1999

In [11]:
print(len(my_var))

4