In [9]:
# importing the pandas package
import pandas as pd

In [10]:
'''
    1.Write a Pandas program to compare the elements of two Pandas series. 
    Sample Series [4,65,436,3,9], [7,0,3,897,9]
'''
# Create the two sample series
series1 = pd.Series([4, 65, 436, 3, 9])
series2 = pd.Series([7, 0, 3, 897, 9])

# Compare the elements of the two series
comparison_result = series1 == series2

# Print the comparison result
print(comparison_result)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [11]:
'''
    2.	Write a Pandas program to add, subtract, multiply and divide two Pandas series. 
    Sample Series: [2,4,6,8,14], [1,3,5,7,9]
'''
# Create the two sample series
series1 = pd.Series([2, 4, 6, 8, 14])
series2 = pd.Series([1, 3, 5, 7, 9])

# Addition
addition_result = series1 + series2

# Subtraction
subtraction_result = series1 - series2

# Multiplication
multiplication_result = series1 * series2

# Division
division_result = series1 / series2

# Print the results
print("Addition Result:")
print(addition_result)

print("Subtraction Result:")
print(subtraction_result)

print("Multiplication Result:")
print(multiplication_result)

print("Division Result:")
print(division_result)

Addition Result:
0     3
1     7
2    11
3    15
4    23
dtype: int64
Subtraction Result:
0    1
1    1
2    1
3    1
4    5
dtype: int64
Multiplication Result:
0      2
1     12
2     30
3     56
4    126
dtype: int64
Division Result:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.555556
dtype: float64

In [12]:
'''
    3.	Write a Pandas program to convert a dictionary to a Pandas series. 
    Sample dictionary: dictionary1 = {‘Josh’: 24, ‘Sam’: 36, ‘Peace’: 19, ‘Charles’: 65, ‘Tom’: 44}
'''
# Sample dictionary
dictionary1 = {'Josh': 24, 'Sam': 36, 'Peace': 19, 'Charles': 65, 'Tom': 44}

# Convert dictionary to series
series1 = pd.Series(dictionary1)

# Print the series
print("======Results of the dictionary to series=========")
print(series1)

======Results of the dictionary to series=========
Josh       24
Sam        36
Peace      19
Charles    65
Tom        44
dtype: int64

In [13]:
''''
    4.	Write a Pandas program to convert a given series to an array.
    Sample series: [‘Love’, 800, ‘Joy’, 789.9, ‘Peace’, True]
'''
# Sample series
series2 = pd.Series(['Love', 800, 'Joy', 789.9, 'Peace', True])

# Convert series to array
array1 = series2.to_numpy()

# Print the array
print(array1)

['Love' 800 'Joy' 789.9 'Peace' True]

In [22]:
'''
    5.	Write a Pandas program to display the most frequent value in the given series and 
    replace everything else as ‘Other’ in the series. (Use the ‘HomeTeamGoals’ column in the dataset provided)
'''
# Sample series
data = {'HomeTeamGoals': [1, 2, 3, 2, 1, 3, 2, 3, 1]}
series = pd.Series(data['HomeTeamGoals'])

# Find the most frequent value
most_frequent = series.value_counts().idxmax()

# Replace other values as 'Other'
series[series != most_frequent] = 'Other'

# Print the updated series
print(series)

0        1
1    Other
2    Other
3    Other
4        1
5    Other
6    Other
7    Other
8        1
dtype: object